<header class="site-header">
  <div class="header-inner">
    <h1 class="site-title">Willkommen im Bürgerportal</h1>
    <nav class="site-navigation" aria-label="Hauptnavigation">
      <ul>
        <li><a href="{{ url_for('main.index') }}#home">Home</a></li>
        <li><a href="{{ url_for('main.aktuelles') }}">Aktuelles</a></li>
        <li>
          <a href="{{ url_for('main.index') }}#support">Anliegen melden</a>
        </li>
        <li><a href="{{ url_for('main.index') }}#kontakt">Kontakt</a></li>
        <li>
          <a href="{{ url_for('main.index') }}#anfahrt"
            >Öffnungszeiten & Anfahrt</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
